nav {
  background-color: #1c1c1c;
  width: 100%;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: #e50914;
}
